#landingpage{
    .lpFeatures{
        position: relative;
        z-index: 10;
        
        &__container{
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__model{
            display: none;

            &--active{
                display: block;

                img{
                    animation: show .3s .3s forwards; 
                }
            }
        }

        picture{
            flex: 1;
        }

        &__image{
            opacity: 0;
            margin: 0 auto;
        }

        @include show;
    }
}