#landingpage{
    .lpHeader{
        min-height: 500px;
        position: relative;
        background: url('https://cdn.alza.cz/Foto/or/lp/bosch-serie-8/build/img/header.jpg') center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;

        &__container{
            margin: 0 auto;
        }

        &__textWrapper{
            text-align: center;
            opacity: 0;
            animation: show 1.2s .6s forwards;

            .hdl3{
                font-weight: 500;
                margin-top: 10px;
            }
        }

        @include show;
    }
}

// media
@media (width <= 980px) {
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            padding: 60px 0;
            min-height: auto;
        }
    }
}