#landingpage{
    .react-carousel{
        margin-top: 10px;
        
        h2{
            display: none;
        }

        .swiper-wrapper{
            justify-content: center;
        }
    } 
}