#landingpage{
    .lpMode{
        &__items{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10;

            &--active{
                display: block;
            }
        }

        &__item{
            opacity: 0;
            position: absolute;

            &--1{
                left: 20%;
                top: 7%;
                animation: show 1.2s .5s forwards;

                .body-1{
                    width: 175px;
                }

                .lpMode__line{
                    transform: rotate(19deg);
                    left: 80px;
                    top: 35px;
                    width: 175px;
                }
            }

            &--2{
                left: 36%;
                top: 70px;
                animation: show 1.2s .7s forwards;

                .body-1{
                    width: 130px;
                }

                .lpMode__line{
                    transform: rotate(52deg);
                    left: 44px;
                    top: 60px;
                    width: 130px;
                }
            }

            &--3{
                left: 44%;
                top: 15px;
                animation: show 1.2s .9s forwards;

                .body-1{
                    width: 177px;
                }

                .lpMode__line{
                    transform: rotate(85deg);
                    left: 27px;
                    top: 75px;
                    width: 131px;
                }
            }

            &--4{
                left: 53%;
                top: 78px;
                animation: show 1.2s 1.1s forwards;

                .body-1{
                    width: 105px;
                }

                .lpMode__line{
                    transform: rotate(99deg);
                    left: 24px;
                    top: 29px;
                    width: 45px;
                }
            }

            &--5{
                left: 62%;
                top: 28px;
                animation: show 1.2s 1.3s forwards;

                .body-1{
                    width: 160px;
                }

                .lpMode__line{
                    transform: rotate(129deg);
                    left: -26px;
                    top: 54px;
                    width: 120px;
                }
            }

            &--6{
                left: 75%;
                top: -22px;
                animation: show 1.2s 1.5s forwards;

                .body-1{
                    width: 202px;
                }

                .lpMode__line{
                    transform: rotate(133deg);
                    left: -66px;
                    top: 77px;
                    width: 200px;
                }
            }

            &--7{
                left: 80%;
                top: 78px;
                animation: show 1.2s 1.7s forwards;

                .body-1{
                    width: 150px;
                }

                .lpMode__line{
                    transform: rotate(133deg);
                    left: -61px;
                    top: 62px;
                    width: 150px;
                }
            }

            &--8{
                left: 87%;
                top: 127px;
                animation: show 1.2s 1.9s forwards;

                .body-1{
                    width: 180px;
                }

                .lpMode__line{
                    transform: rotate(153deg);
                    left: -79px;
                    top: 48px;
                    width: 180px;
                }
            }

            .body-1{
                color: color(gray, 0);
            }
        }

        &__line{
            width: 100px;
            height: 1px;
            background-color: color(gray, 0);
            position: relative;

            &::after{
                content: "";
                position: absolute;
                right: 0;
                bottom: -2px; 
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: color(gray, 0);
                transform: translate(5px, 2px);
            }
        }

        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

// layout 0
.layout-0 #landingpage{
    .lpMode{
        &__item{
            &--1{
                left: 12%;
            }

            &--2{
                left: 32%;
                top: 61px;

                .lpMode__line{
                    transform: rotate(50deg);
                }
            }

            &--3{
                left: 40%;
                top: -7px;
            }

            &--4{
                left: 52%;
                top: 65px;
            }

            &--5{
                left: 61%;
                top: 15px;

                .lpMode__line{
                    transform: rotate(120deg);
                    left: -2px;
                    top: 54px;
                    width: 101px;
                }
            }

            &--6{
                top: -37px;
            }

            &--7{
                left: 82%;
                top: 48px;

                .lpMode__line{
                    transform: rotate(133deg);
                    left: -131px;
                    top: 73px;
                    width: 190px;
                }
            }

            &--8{
                left: 85%;
                top: 84px;
                width: 20%;

                .lpMode__line{
                    transform: rotate(103deg);
                    left: 8px;
                    top: 62px;
                    width: 110px;
                }
            }
        }
    }
}

// media
@media (width <= 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpMode{
            &__items{
                position: relative;
                display: block;
                counter-reset: items-counter;
            }

            &__item{
                position: relative;
                text-align: left;
                top: auto;
                left: auto;
                width: 100%;
                margin-top: 10px;
                animation: none;
                opacity: 1;
                padding-left: 24px;

                &::before{
                    counter-increment: items-counter;
                    content: counter(items-counter) ".";
                    position: absolute;
                    color: color(gray, 0);
                    font-family: 'Roboto', sans-serif;
                    left: 0;
                    font-size: 16px;
                    line-height: 24px;
                }

                &:first-of-type{
                    margin-top: 0;
                }

                .lpMode__line{
                    display: none;
                }

                .body-1{
                    width: 100%;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}