#landingpage {
    .lpPanel {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      top: 70px;

      &--off{
        display: none;
      }

      .perex{
        color: color(gray, 0);
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
        font-weight: 500;

        &::after{
          content: '';
          position: absolute;
          height: 60px;
          width: 1px;
          background-color: color(gray, 0);
          left: 50%;
          top: 40px;
        }
      }

        &__circle{
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: transparent;
            border: 5px solid color(gray, 0);
            animation: pulse 2.5s infinite;
            cursor: pointer;
            position: relative;
            top: 97px;
        }

        @keyframes pulse {
            0% {
                transform: scale(.8);
                opacity: 1;
            }
            50% {
                transform: scale(1.2);
                opacity: 0.5;
            }
            100% {
                transform: scale(.8);
                opacity: 0;
            }
        }
    }
}

// layout 0
.layout-0 #landingpage{
  .lpPanel{
    top: 53px;
  }
}

// media
@media (width <= 980px){
  .mobile #landingpage,
  .mobileapp #landingpage{
    .lpPanel{
      display: none;
    }
  }
}
