#landingpage{
    .specWrapper{
        .hdl4{
            font-size: 20px;
            line-height: 30px;
            color: color(gray, 8);
        }

        .perex{
            &--subHeadline{
                max-width: 100%;
                margin: 4px 0 0;
                color: color(gray, 6);
                font-style: italic;
            }

            &--headline{
                font-weight: 700;
                color: color(gray, 8);
                margin-top: 16px;
            }
        }

        .body-1{
            margin-top: 10px;
        }

        .lpListItems{
            margin: 10px auto 0;

            &__item{
                margin-top: 2px;
                color: color(gray, 8);
            }
        }
    }
}