#landingpage{
    .lpFeatures__tooltip{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        padding: 20px 24px;
        border-radius: 4px;
        z-index: 50;
        width: 455px;
        text-align: left;
    }
}